{% extends "relations/base.html" %}

{% block title %}{{block.super}} | Studentenliste{% endblock title %}

{% block content %}
    <h1>Studentenliste</h1>
    {% if students %}
      <ul class="list">
        {% for student in students %}
          <li class="card">
            <a href="{% url 'student_detail' student.id %}">{{ student.name }}</a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p class="no-data">Keine Studenten vorhanden.</p>
    {% endif %}
{% endblock content %}